{{todo-header createTodo=(action 'createTodo')}}
<section class="main">
    <ul class="todo-list">
        {{#each filteredTodos as |todo|}}
            {{todo-item todo=todo updateTodo=(action 'updateTodo') removeTodo=(action 'removeTodo')}}
        {{/each}}
    </ul>
</section>
{{#if todos}}
    {{todo-footer clearCompleted=(action 'clearCompleted') todoCount=remainingTodosCount}}
{{/if}}
