<input type="checkbox" class="toggle" checked={{todoItem.isCompleted}} onchange={{action 'toggleStatus'}} />
<label>{{todoItem.title}}</label>
<button {{action removeTodo todoItem}} class="destroy"></button>
